.signup-page {
  padding: 38px 38px;
  display: flex;
  justify-content: center;
  align-items: center;

  .signup-component-container {
    padding: 30px 80px;
    background-color: #fff;
    width: 570px;
    border-radius: 35px;
    border: 1px solid #d4d4ec;

    &:hover {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
        0 3px 10px 0 rgba(0, 0, 0, 0.19);
      transition: 0.2s ease-in;
    }
  }
}
