.applicationPage-titleBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  margin-bottom: 20px;
  padding: 0 2px 0 50px;

  @media screen and (max-width: 800px) {
    width: 100%;
  }

  @media screen and (max-width: 450px) {
    flex-direction: column;
  }

  #applicationPage-title {
    font-size: 30px;
    font-weight: bold;
  }
}
