.signin-page {
  padding: 38px 38px;
  display: flex;
  justify-content: center;
  align-items: center;

  .signin-component-container {
    padding: 30px 80px;
    background-color: #fff;
    width: 570px;
    border-radius: 35px;
    border: 1px solid #d4d4ec;

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      transition: 1s ease all;
    }
  }
}
