.eventsPage {
  padding: 38px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 900px) {
    padding: 30px;
  }

  @media screen and (max-width: 600px) {
    padding: 10px;
  }
}
