.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;

  .title {
    margin: 20px 0;
    font-weight: bold;
  }

  button {
    width: 250px;
  }
}
