.createEvent-container {
  padding: 30px 50px;
  background-color: #fff;
  width: 700px;
  border-radius: 10px;
  border: 1px solid #d4d4ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .createEvent-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;

    .title {
      margin: 20px 0;
      font-weight: bold;
    }

    button {
      width: 200px;
    }

    .createEvent-buttons {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
