.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  padding: 0 35px;
  font-size: 15px;
  background-color: #3b8beb;
  color: #fff;
  border: none;
  border-radius: 30px;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;

  ~ .danger {
    background-color: #dc3545;

    &:hover {
      background-color: #d02536;
    }
  }
  &:hover {
    background-color: #217be8;
  }
}
