.header {
  height: 70px;
  padding: 0px 38px;
  background-color: #383956;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .acm-logo {
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 999999;
    background-color: #383956;
    .logo {
      height: 80%;
    }
  }

  .header-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      z-index: 9999;
      left: 0px;
      background-color: #383956;
      width: 100%;
      transform: translateY(-150%);
      top: 70px;
      transition: transform 0.2s ease-in-out;

      &.openNav {
        transition: transform 0.5s ease-in-out;
        transform: translateY(0);
      }
    }
  }

  .header-item {
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @media (max-width: 768px) {
      width: auto;
      height: 50px;
      padding: 0 45px;
    }

    a {
      text-decoration: none;
      color: #fff;
    }

    &:hover {
      font-size: 15px;
      font-weight: bold;
      transition: 0.3s;
    }
  }
}
